In [ ]:
def row_swap(A,i,j):
  k = A[j]
  #k is the secondary selected row
  A[j] = A[i]
  #the secondary selected row becomes the primary selected row
  A[i] = k
  #the primary selected row becomes the secondary selected row
  return A
row_swap([ [ 1, -1, 1 ], [ 0, 1, 3 ], [ 2, -2, 0] ], 0, 2)

[[2, -2, 0], [0, 1, 3], [1, -1, 1]]

In [ ]:
def row_mult(A,i,c):
  for j in range(len(A[i])):
    #for every term, j, in row, i, of A...
    A[i][j] = c*A[i][j]
    #...j is multiplied by c
  return A
row_mult([ [ 1, 1 ], [ 2, 3 ] ], 1, 3)

[[1, 1], [6, 9]]

In [10]:
def row_add(A,i,j,c):
  row_additive = []
  for k in range(len(A[j])):
    row_additive = row_additive + [A[j][k]]
  for k in range(len(row_additive)):
    #for every term, k, in row_additive, of A...
    row_additive[k] = c*(row_additive[k])
    #...k is multiplied by c
  for k in range(len(A[i])):
    #for every term, k, in row, i, of A...
    A[i][k] = row_additive[k] + A[i][k]
    #...the corresponding term, k, in row, j, is added to term, k, in row, i
  return A
row_add([[-33, 17, -24, -99, 72, 80, -73], [48, 80, 56, -88, 5, -59, -80], [-92, -78, 94, -80, -77, 75, -53], [-98, -11, 2, 95, -13, 73, -81]], 0, 0, -29)

[[924, -476, 672, 2772, -2016, -2240, 2044],
 [48, 80, 56, -88, 5, -59, -80],
 [-92, -78, 94, -80, -77, 75, -53],
 [-98, -11, 2, 95, -13, 73, -81]]